# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch
*.ipch

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
#*.exe
*.out
*.app

# Visual Studio Junk
.vs/
*.tlog
*/bin/*
*\obj\*
*/obj/*
*.log
*.exp
Qt/win/Debug/*
*\Debug\*
*\NoOpt\*
/cmake/android-ndk-r10e*
/cmake/cmake-2.8.12.2-Linux-i386*

# anorrl specific crap FML
App/*.lib
App.BulletPhysics/*/*.lib
App.BulletPhysics/*/obj/*
Installer/*/obj/*
Installer/*/*/*/*.lib
Installer/*/*/*/*.pdb
*/*/obj/Release/*
*/*/bin/Release/*
App/script/LuaGenCS.inl
*.lastbuildstate
graphics3D.lastbuildstate
Rendering\g3d\obj\graphics3D\Release\graphics3D.lastbuildstate
QTitanRibbon/roblox_build/*
*.db
*.opendb
Android/.gradle/*
Android/.idea/*
